


/* class to make things blue*/
.blue
{
  color: blue;
}

/*selector for body*/
body
{
  background-color: rgb(255,255,224);
}

h1
{
  text-align: center;
  color: #5C4033;
}

#discuss
{
  text-align: center; 
  color: hsl(170, 82%, 91%);
}

a[href= "*attendance"]
  
    background-color: yelow;
  }

li, h4
  {
    color: green;
  }  
a:hover 
  {
  color: hotpink;
  }

  
  main li
  {
     color: orange;
  }

  header > section
  {
     color: purple;
  }

 section + p
{
  color: red;
}

select ~ form
{
  color: brown;
}

p:has(+ 3) {
  background-color: orange;
}

main {
  background-color: pink;
  & section {
    background-color: white;
  }
}
  

