


/* class to make things blue*/
.blue
{
  color: var(blue, green);
}

/*selector for body*/
body
{
  background-color: rgb(255,255,224);
}

h1
{
  text-align: center;
  color: #5C4033;
  border-radius: 4px;
  padding: 5px 10px
  font-family: "Papyrus", Fantasy;
  font-size: 15pt;
}

#discuss
{
  text-align: center; 
  color: hsl(170, 82%, 91%);
}

a[href= "*attendance"]
  {
  color: color-mix(method, color1[yellow], color2[white]);
  }

li, h4
  {
    /* green*/
    color: color: rgb(0 255 0);
  }  
a:hover 
  {
  color: hotpink;
  }

  
  main li
  {
     color: orange;
  }

  header > section
  {
     color: purple;
  }

 section + p
{
  color: red;
}

select ~ form
{
  color: brown;
}

p:has(+ 3) {
  background-color: orange;
}

main {
  background-color: pink;
  & section {
    background-color: white;
  }
}

video
{
  width: 20cm;
  height: 30cm;
}

