/*defining a variable*/
:root
{
  --main-bg-color: orange;
}

/* class to make things blue*/
.blue
{
  color: blue;
}

/*selector for body*/
body
{
  background-color: rgb(255,255,224);
}

/*styling heading 1*/
h1
{
  text-align: center;
  color: #5C4033;
  border-radius: 4px;
  border-width: 1px;
  border-style: dashed;
  padding: 5px 10px;
  font-family: "Papyrus", Fantasy;
  font-size: 15pt;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

#discuss
{
  text-align: center; 
  color: hsl(170, 82%, 91%);
  margin:0;
  padding:0;
}

a[href= "*attendance"]
  {
  background-color:color-mix(in lch, plum 40%, pink);
  }

/*multiple selectors*/
Task1, Task2, Task3
  {
    /* green*/
    color: rgb(92 64 51);
    display: block;
    
  }  
/*turns hot pink when hovered over*/
a:hover 
  {
  color: hotpink;
  text-decoration: underline;
  }

/*third-party font*/
  main
{
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
  /*styling list in main*/
  main li
  {
     color: brown;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 10px;
     padding-right: 10px;
     position: static;
  }

  /*styling sections that are children of main*/
  main > section
  {
     color: purple;
  }

/*styling paragraphs that come after a section*/
 section + p
{
  color: red;
  font-size: 1em;
}

select ~ form
{
  color: brown;
}

/*styling sections that have a video*/
section:has(+ video) {
  background-color: orange;
}

/*nested selector*/
main {
  
  padding: 10px;
  
  & section {
    
    background-color: white;
  }
}

/*styling the video*/
video
{
  width: 10cm;
  height: 7cm;
  min-width: 6cm;
  max-width: 11cm;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid;
  position: relative;
}

/*for phones*/

@media (max-width: 760px)
{
  body
  {
    align-items: center;
    font-size: 10px;
  }

    video
    {
      max-width: 80%;
    }

    header
    {
      font-size: 12px;
    }
}

/*adjusting what happens when the button is clicked*/
button:active
  {
    color: purple;
    cursor: pointer;
    border: 1px solid black;
    width: 4cm;
  }

footer
  {
    flex-direction: column;
  }
  
  nav ul 
{
  display:flex;
  flex-wrap: wrap; 
  height: 2vw;
  width: 7vw;
}

  .item 
  {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: row1-start;
  grid-row-end: 2;
 }
